body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #fefae0;    
}
.main-body {
    padding: 10px;
  
}
.mainpage{
    
    border: 10px solid yellow;

}
.container1 .carddd {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.container1 .carddd {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    height: 650px;

}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    height: 500px;
  
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
    width:20%
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.main-breadcrumb{
    display:flex;
    justify-content: space-between;
}



.col-sm-9{
    margin-left: 30px;
}
.userdata{
    margin-top: 20px;
}
.btn{
    background-color: red;
    border: 2px solid black;
    color: white;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.compte{
   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: 0px;
  
}

.menu{
    display:flex;
    padding: 10px 15px;
    width: 100%px;
    height:60px;
    align-items: center;
    justify-content: space-between;
}
.btnPro{
  height: 15px;
  width: 15px;
    border: none;
    text-align: center;
    padding: 0px;

}